.num0 {
    background-color: #42bde8;
}

.num1 {
    background-color: #e5e03b;
}

.num2 {
    background-color: #da63f5;
}

.num3 {
    background-color: #60e547;
}

.num4 {
    background-color: #f85d88;
}
